[submodule "jax"]
	path = jax
	url = git@github.com:GilgameshxZero/jax.git
[submodule "vision_transformer"]
	path = vision_transformer
	url = git@github.com:GilgameshxZero/vision_transformer.git
[submodule "robustness"]
	path = robustness
	url = https://github.com/GilgameshxZero/robustness
[submodule "thundersvm"]
	path = thundersvm
	url = https://github.com/Xtra-Computing/thundersvm.git
        ignore = untracked
