pandas
matplotlib
numpy

sklearn
scipy

ipykernel
tqdm

clu
ml_collections
cox

tensorflow~=2.7
tensorflow-datasets
tensorflow-probability

flax
neural-tangents
adversarial-robustness-toolbox

jupyterlab
ipywidgets
pylint
autopep8
