@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Montserrat");

:root {
	--paragraph-spacing: 1.5em;
	--paragraph-indent: 0;
	--line-height: 1.25;
}

/* Optional classes. */
.no-display {
	display: none !important;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-focus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

.no-scrollbar {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.no-indent {
	text-indent: 0;
}

.page-break {
	clear: both;
	break-after: always;
	page-break-after: always;
}

/* Fonts. */
.times-new-roman {
	font-family: "Times New Roman", Times, serif;
}

.system-sans-serif {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.consolas {
	font-family: Consolas, monospace;
	font-size: 0.9em;
}

.courier-new {
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
}

.dancing-script {
	font-family: "Dancing Script";
}

.montserrat {
	font-family: Montserrat;
	font-size: 0.9em;
}

/* When vscode stylesheets aren't loaded (i.e. in-browser), these are used as defaults. Printing from vscode is assumed to use .vscode-light on the body for code generation. */
:root .vscode-light {
	--vscode-textLink-foreground: rgb(0, 106, 177);
	--vscode-textLink-activeForeground: rgb(0, 106, 177);
	--vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
	--vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);

	/* These variables are not defined in VS Code, and thus may not adapt well between themes. */
	--pre-background: rgba(220, 220, 220, 0.4);
	--border-color: rgba(0, 0, 0, 0.18);
	--code-color: rgb(163, 21, 21);
}

/* When viewing preview in vscode with a dark theme, these are applied. */
:root .vscode-dark {
	--pre-background: rgba(10, 10, 10, 0.4);
	--border-color: rgba(255, 255, 255, 0.18);
	--code-color: rgb(215, 186, 125);
}

/* html/body defaults. */
html {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 1em 2em;
	max-width: min(calc(100% - 4em), 70ch);

	font-family: "EB Garamond", Georgia, serif;
	font-size: 1.4rem;
	line-height: var(--line-height);
}

/* Printing. */
@media print {
	@page {
		margin: 20mm;
	}

	body {
		font-size: 1.2rem;
	}
}

p {
	margin: calc(var(--paragraph-spacing) / 2) 0;

	text-indent: var(--paragraph-indent);
}

p:first-of-type {
	margin-top: 0;
}

a {
	color: var(--vscode-textLink-foreground);
}

a:hover {
	color: var(--vscode-textLink-activeForeground);
}

pre {
	max-width: 90%;
	margin: 1em auto;

	background-color: var(--pre-background);
}

code {
	white-space: pre-wrap;
	font-family: Consolas, monaco, monospace;
	font-size: 0.8em;
	text-indent: 0;
	font-weight: 300;
	line-height: inherit;
	color: var(--code-color);
}

pre code {
	tab-size: 2ch;
}

code>code {
	font-size: 1em;
}

h1 {
	margin: 1em 0 0.4em;
	padding-bottom: 0.1em;

	border-bottom: 0.05em solid var(--border-color);
}

h1:first-of-type {
	margin-top: 0;
}

h2 {
	margin: 1em 0 0.4em;
	padding-bottom: 0.2em;
	width: 80%;

	border-bottom: 0.05em solid var(--border-color);
}

h2:first-of-type {
	margin-top: 0;
}

h1+h2 {
	margin-top: 1em;
}

h3 {
	margin: 0.5em 0;

	font-weight: bolder;
}

h4 {
	margin: 0.5em 0;

	font-weight: bolder;
}

h5 {
	margin: 0.5em 0;

	font-weight: bolder;
}

h6 {
	margin: 0.5em 0;

	font-weight: bolder;
}

hr {
	width: 75%;
	height: 0;
	margin: 1em auto;

	border: none;
	border-top: 0.1em solid var(--border-color);
	break-inside: avoid;
	page-break-inside: avoid;
}

table {
	margin: 1em auto;
	max-width: 90%;

	font-size: 1em;
	border-style: hidden;
	line-height: inherit;

	break-inside: avoid;
	page-break-inside: avoid;
}

table thead {
	font-size: 1.1em;
}

table tr {
	border: none;
}

table td {
	padding: 1em;

	border: none;
}

table>tbody>tr+tr>td {
	border: none;
}

table th,
.vscode-light table th,
.vscode-dark table th {
	padding: 0.5em;

	border: 0.1em solid var(--border-color);
	border-left: none;
	border-right: none;
}

table tr td {
	padding: 0.4em;
}

table tr:nth-child(odd) td {
	background-color: transparent;
}

table tr:nth-child(even) td {
	background-color: var(--vscode-textBlockQuote-background);
}

blockquote {
	--paragraph-indent: 0;
	--paragraph-spacing: 0;

	padding: 0.5em 1em;
	margin: 0.5em 0;

	font-style: italic;
	border-left: 0.25em solid var(--vscode-textBlockQuote-border);
	background-color: var(--vscode-textBlockQuote-background);
}

img,
svg {
	display: block;
	max-width: 90%;
	max-height: 30em;
	margin: calc(var(--paragraph-spacing) / 2 * var(--line-height) * 1.4) auto;

	break-inside: avoid;
	page-break-inside: avoid;
}

img+em {
	display: block;
	margin: calc(var(--paragraph-spacing) / 2 * var(--line-height) * -1) auto calc(var(--paragraph-spacing) / 2 * var(--line-height) * 1.4);

	text-align: center;
}

img+br+em {
	display: block;
	margin: calc(var(--paragraph-spacing) / 2 * var(--line-height) * -1 - var(--line-height) * 1em) auto calc(var(--paragraph-spacing) / 2 * var(--line-height) * 1.4);

	text-align: center;
}

iframe {
	margin: 1em auto;

	border: none;
}

audio {
	display: block;
	margin: auto;
	
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

.katex {
	font-size: 0.9em;
}

.katex img,
.katex svg {
	margin: auto;
}
