h1 {
	margin-bottom: 0;
	padding-bottom: 0;

	border: none;
}

h1+* {
	margin-top: 0.1em;
	margin-bottom: 0.7em;
	padding-bottom: 0.3em;

	border-bottom: 0.1em solid var(--border-color);
	text-indent: 0;
}
